<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>HBS</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        .mainDiv2 {
            width: 50%;
            box-sizing: border-box;
            margin: 0 auto;
            padding: 20px;
            background-color: rgb(243, 207, 201);
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 3px 3px 5px #00000069;
            margin-top: 20px;
        }
        .mainDiv2 p {
            text-align: justify;
        }
    </style>

</head>

<body>
    <div class="mainDiv2">
        <p> Email: <b> {{email}} </b>  </p>
        <p> Password: <b> {{password}} </b>  </p>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum adipisci illo hic rem quibusdam dolor repellendus ipsam, iusto quidem autem blanditiis voluptatem laborum, rerum ad magnam dolorem consectetur qui aliquam! </p>
    </div>
</body>

</html>